.container__contact {
  margin-top: 4rem;
  /* margin-bottom: 5rem; */
}

.contact__title {
  font-size: var(--fontSize-superTitles_mobile);
  color: var(--color-green);
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.6rem;
}
.container__form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.button_submit {
  width: 18.75rem;
  transition: var(--transition);
}

.button_submit:hover {
  transform: var(--transform);
}

@media (width>= 48rem) {
  .button_submit {
    width: 25rem;
  }
}
